.todo-list-template {
    background: white;
    width: 512px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */
    margin: 0 auto;
    margin-top: 4rem;
  }
  
  .title {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    background: #fabd14;;
    color: white;
  }
  
  .form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #22b8cf;
  }
  
  .palette-wrapper {
    padding: 1rem;
    background: #f1f3f5;
  }
  
  .todos-wrapper {
    min-height: 5rem;
  }
  