.todo-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s;
    user-select: none;
  }
  
  .todo-item:hover {
    background: #e3fafc;
  }
  
  .todo-item:hover .remove {
    opacity: 1;
  }
  
  .todo-item + .todo-item {
    border-top: 1px solid #f1f3f5;
  }
  
  
  .remove {
    margin-right: 1rem;
    color: #e64980;
    font-weight: 600;
    opacity: 0;
  }
  
  .todo-text {
    flex: 1;
    word-break: break-all;
  }
  
  .checked {
    text-decoration: line-through;
    color: #adb5bd;
  }
  
  .check-mark {
    font-size: 1.5rem;
    line-height: 1rem;
    margin-left: 1rem;
    color: #14aabe;
    font-weight: 800;
  }
  